body {
    background: pink;
}

.container {
    margin-top: 30px;
    background-color: #299ba5;
}

#title {
    text-align: center;
    font-size: 80px;
}

#startButton {
    font-size: 50px;
    margin-left: 420px;
    margin-left: 420px;
    margin-top: 200px;
    margin-bottom: 200px;
    background-color: yellow;
    padding-left: 40px;
    padding-right: 40px;
}